<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <style>
       body,html{
      margin:0;
      padding:0;
      background-color:white;
      overflow-x:hidden;
      
    }
    .containerfluid {
      font-family: 'Bitter', serif;
      padding:2%;
      
    }
    
    .nocard {

     padding:2%;
     margin-top:4%;
     text-align:center;
     border-radius:4px;
     box-shadow:0 0 6px  gray;
   }


   .productcard {

    padding:2%;
    margin-top:4%;
    text-align:center;
    border-radius:4px;
    box-shadow:0 0 6px  gray;

  }

  .productImg {
    width:80%;
    height:250px;

  }

  #user {
    text-shadow:2px 2px 2px solid black;
    border-radius:3px;
    box-shadow:0px 0px 5px gray;
    text-align:center;
    padding:5%;
    background-color:white;
    color:white;
  }

  #cartdetails {

    text-shadow:2px 2px 2px solid black;
    border-radius:3px;
    box-shadow:0px 0px 5px gray;
    text-align:center;
    padding:5%;
    background-color:white;
    color:white;
    margin-top:5%;

  }
  .kcool{
     background-color:#173D4C;
      color:white !important;
      border:2px solid gray;
  }

   .kcool:hover{
      background-color:#173D4C;
      border:2px solid #173D4C;
      color:white;
    }


  .productcard {
    display:none;

  }

      .cool {
      background-color:white;
      color:black;
      border:2px solid gray;
    }

    .cool:hover{
      background-color:#173D4C;
      border:2px solid #173D4C;
      color:white;
    }

    #notification{
      display:none;
    }

  </style>
</head>
<body>



 <% if (message.length) { %>
     <h5  class='alert alert-danger' style='background-color:#173D4C !important;font-size:1em;color:white !important;text-shadow:2px 2px 2px black;'><%= message %></h5>
     <% } %> 

 
  <div class='containerfluid'>

  <% if(message) { %>
   <h3 style='text-align:center;color:white !important;text-shadow:2px 2px 2px black'>Edit Your <span style='color:crimson !important;'>Product Details</span></h3>

   <form action='/api/updateproduct' method='POST' id='loginform' enctype="multipart/form-data"> 

         

     
    
     <div class="form-group">
      
       
       
      <div class="form-group">

        <label for="ProductName">Product Name</label>
        <input name='productName' type="text" class="form-control nuke" id="productName"  placeholder="Name" value="<%= message.productName %>" required autofocus>
        
      </div>
      <div class="form-group">
        <label for="productCategory">Product Category</label>
        <input name='productCategory' type="text" class="form-control nuke" id="ProductCategory" placeholder="Category" value="<%= message.productCategory %>"   required>
      </div>

      <div class="form-group">
        <label for="productPrice">Product Pice</label>
        <input name='productPrice' type="number" class="form-control nuke" id="productPrice" placeholder="Price" value="<%= message.productPrice %>"  required>
      </div>

      <div class="form-group">
        <label for="productQuantity">Product Quantity</label>
        <input name='productQuantity' type="number" class="form-control nuke" id="productQuantity" placeholder="Quantity" value="<%= message.productQuantity %>"  required>
      </div>

      <div class="form-group">
        <label for="productImg">Product Image</label>
        <input name='productImg' type="file" class="form-control nuke" id="productImg" placeholder="product image" value="<%= message.productImage %>" >
      </div>

       <div class="form-group">
        <label for="productImg">Product Id</label>
        <input name='id' type="text" class="form-control nuke " id="productId" placeholder="product Id" value="<%= message._id %>" readonly>
      </div>




      <button type="submit" class="btn btn-primary kcool">Update</button>


      
    </form>

    <% } %> 

  </div>



</body>
</html>